*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family:DM sans;
  font-size:18px;
  color: #111010;
  
}
h1,h2,h3,h4,h5,h6 {
  font-family:DM sans;
  font-weight: 400;
  color:#111010;
  
}
.container{
  max-width: 1376px;
  margin: 0 auto;
}
h1{
  font-size:127px;
}
h2{
  font-size:96px;
}
h3{
  font-size:72px;
}
h4{
  font-size:48px;
}
h5{
  font-size:24px;
}
h6{
  font-size:20px;
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
nav ul {
  display: flex;
  list-style-type: none;
}
nav ul li {
  padding: 10px 15px;
}
nav ul li a {
  text-decoration: none;

}
.nav-search {
  border: none;
  background-color: rgba(247, 247, 225, 0.753);
}
.main-header {
  background-image: url(./icon/h1-img.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 500px;
  text-transform: uppercase;
  color: white;
  padding: 25px;
  font-size: 20px;
}
.header-button {
  background-color: #FFDB5B;
  /* border: 1px solid #111010;
  border-radius: 1600px; */
  border: none;
  border-radius: 20px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 10px;
}
.atributs{
  display: flex;
  justify-content: space-between;
}
.saj{
}